/* колір основного тексту #212121; */
/* другорядний колір тексту  #757575;*/
/* акцентний колір #2196F3; */
/* білий #FFFFFF99 */
/* другорядний колір фону #F5F4FA */
/* колір футеру background: #2F303A; */

/* стилі для index.html */

:root {
  --primary-text-color: #212121;
  --paragraf-text-color: #757575;
  --acent-color: #2196f3;
  --primary-bg-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.link {
  text-decoration: none;
}

.logo.link {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.4;
  text-decoration: none;
}

.logo-acent.link {
  color: var(--acent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.4;
}

/* site nav */

.main-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header.link {
  color: var(--paragraf-text-color);
}


.address {
display: block;
padding-top: 20px;
margin-bottom: 0px;
}

.link.address {
 
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.footer.link {
  display: block;
  margin-bottom: 0;
  margin-top: 9px;

  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

.main-nav .link:hover,
.main-nav .link:focus,
.main-contacts .link:hover,
.main-contacts .link:focus {
  color: var(--acent-color);
  text-decoration: none;
}

.main-nav .link.current {
  color: var(--acent-color);
}

.main-nav {
  display: flex;
}

.main-contacts .item + .item {
  margin-left: 50px;
}

.main-nav .item + .item {
  margin-left: 50px;
}

.main-contacts {
  display: flex;
  margin-left: auto;
}

.main-contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--paragraf-text-color);
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}

.container.header {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.section.header {
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ececec;
}

/* hero */

.hero-titel {
  margin-top: 0;
  margin-bottom: 30px;

  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section.hero-blok {
  background-color: #757575;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

/* загальні стилі для всіх секцій */

.section-titel {
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* feachers */

.titel {
  margin-top: 0px;
  margin-bottom: 2px;
}

.feachers-list .titel {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feachers-list .text {
  color: var(--paragraf-text-color);

  font-size: 14px;
  line-height: 1.7;
  margin: 0;
}

.feachers-list {
  display: flex;
}

.feachers-list .item + .item {
  margin-left: 30px;
}

/* work */

.section.work {
  padding-top: 0;
}

.container.work .list {
  display: flex;
  justify-content: space-between;
}

/* team */

.team-list .name {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-list .position {
  color: var(--paragraf-text-color);
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-text {
  padding: 30px 10px 30px 10px;
}

.team-card {
  background-color: #ffffff;
  width: 270px;
  margin: 0;
  padding: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

/* buttons */

.hero-button {
  padding: 10px 32px;
  min-width: 216px;
  color: white;
  background-color: var(--acent-color);
  border: none;
  border-radius: 4px;
  font-family: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  text-decoration: none;
  cursor: pointer;
}

.address {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.contact.link {
  color: #ffffff99;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.footer .logo-footer {
  color: #ffffff;
}
/* стилі для portfolio.html */

.button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  padding: 6px 22px;
  min-width: 73px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--primary-bg-color);
  background-color: var(--acent-color);
}

.filter.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter.list li {
  margin-right: 4px;
  margin-left: 4px;
}

.card-set .portfolio-items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-set .item {
  width: 370px;
  background-color: #ffffff;
}

.portfolio-items .description {
  margin: 0;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-items .titel {
  margin-top: 0;
  margin-bottom: 0;

  text-align: left;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-items .sub-titel {
  margin-bottom: 0;
  margin-top: 4px;

  color: var(--paragraf-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/* стилі для розміщення елементів */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container.main-nav {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.section.team {
  background: #f5f4fa;
}

.section.nopadding {
  padding-top: 0;
  padding-bottom: 0;
}

.section.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.logo.link {
  margin-right: 93px;
  padding: 0;
}

.footer > .logo.link {
  margin: 0;
  padding: 0;
}

/*як робити картки з wrap 


.portfolio-items.list {
  display: flex;
  flex-wrap: wrap;
 }

.portfolio-items .item {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 370px;
  background-color: teal;
}




.portfolio-items .item:nth-child(3n) {
  margin-left: 0;
  background-color: orange;
}

.portfolio-items:nth-last-child(-n + 3) {
  background-color: orange;
  margin-left: 0;
  }



.portfolio-items:nth-child(3n) {
  margin-right: 0;
}

.portfolio-items:nth-last-child(-n + 3) {
  background-color: orange;
  margin: 0;
}
*/
